.env.example:
NODE_ENV=development
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=momesso_user
DATABASE_PASSWORD=momesso_secure_pass_2024
DATABASE_NAME=momesso_db
JWT_SECRET=momesso_jwt_secret_key_v2024_test_only
JWT_EXPIRATION=3600
API_PORT=3000
